certifi==2020.6.20
charset-normalizer==2.0.4
click==7.1.2
filelock==3.0.12
Flask==1.1.2
huggingface-hub==0.0.12
idna==3.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.1
MarkupSafe @ file:///opt/concourse/worker/volumes/live/cb778296-98db-45ad-411e-6f726e102dc3/volume/markupsafe_1594371638608/work
numpy==1.21.1
packaging==21.0
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.8.3
requests==2.26.0
sacremoses==0.0.45
sentence-splitter==1.4
sentencepiece==0.1.96
six==1.16.0
tokenizers==0.10.3
torch==1.9.0
tqdm==4.62.0
transformers==4.9.1
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==1.0.1
