@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* CORE STYLES */
:root {
    --primary-color: rgba(13, 110, 139, 0);
    --overlay-color: rgba(0, 0, 0, 0.9);
    --menu-speed: .9s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.4;
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }
  
  .showcase {
    background: var(--primary-color);
    color: rgb(0, 0, 0);
    height: 100vh;
    position: relative;
  }
body {
  background-image: url("eclipse4\ copy.svg");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(3,12,45,255);    
}

.section1 {
    padding: 90px;
    margin-top: 70px;
    padding-bottom: 90px;
    z-index: -20;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    line-height: 100%;
    /* identical to box height, or 66px */
    letter-spacing: -0.03em;
    font-size: 44px;
    padding: 22px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
.css-input1 {
    width: 500px;
    height: 350px;
    border-radius: 8px 8px 8px 8px;
    border-width: 3px;
    border-color: black;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    padding: 12px;
}
.css-input2 {
    width: 500px;
    height: 350px;
    border-radius: 8px 8px 8px 8px;
    border-width: 3px;
    border-color: black;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    padding: 12px;
}

textarea {
    resize: none;
}

textarea:focus, input:focus {
    outline: none;
}

.myButton {
    width: 1003px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    min-width: 200px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
 
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(41, 41, 41);
    border-radius: 15px;
  }
  
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 59, 59); 
  }

/* Add media queries A.K.A make it responsive */
@media screen and (max-width:1180px) {
    .myButton {
        max-width: 900px;
    }
    .css-input1 {
        max-width: 450px;
    }
    .css-input2 {
        max-width: 450px;
    }
}

@media screen and (max-width:1080px) {
    .myButton {
        max-width: 805px;
    }
    .css-input1 {
        max-width: 400px;
    }
    .css-input2 {
        max-width: 400px;
    }
}

@media screen and (max-width:980px) {
    .myButton {
        max-width: 705px;
    }
    .css-input1 {
        max-width: 350px;
    }
    .css-input2 {
        max-width: 350px;
    }
}
@media screen and (max-width:880px) {
    .myButton {
        max-width: 605px;
    }
    .css-input1 {
        max-width: 300px;
    }
    .css-input2 {
        max-width: 300px;
    }
}
@media screen and (max-width:780px) {
    .myButton {
        max-width: 505px;
    }
    .css-input1 {
        max-width: 250px;
    }
    .css-input2 {
        max-width: 250px;
    }
    h1 {
      font-size: 37px;
  }
}
@media screen and (max-width:680px) {
    .myButton {
        max-width: 405px;
    }
    .css-input1 {
        max-width: 200px;
    }
    .css-input2 {
        max-width: 200px;
    }
    h1 {
      font-size: 30px;
  }
}
@media screen and (max-width:580px) {
    .myButton {
        max-width: 305px;
    }
    .css-input1 {
        max-width: 150px;
    }
    .css-input2 {
        max-width: 150px;
    }
    h1 {
      font-size: 35px;
  }
}
@media screen and (max-width:480px) {
    .myButton {
        max-width: 205px;
    }
    .css-input1 {
        max-width: 100px;
    }
    .css-input2 {
        max-width: 100px;
    }
    h1 {
      font-size: 29px;
  }
}
@media screen and (max-width:380px) {
    .myButton {
        max-width: 80px;
    }
    .css-input1 {
        max-width: 100px;
    }
    .css-input2 {
        max-width: 100px;
    }
    h1 {
        font-size: 25px;
    }
}

.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.05);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 25px;
	height: 25px;
  border-radius: 5px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
  border-radius: 5px;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 35px;
	height: 35px;
  border-radius: 5px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 20px;
	height: 20px;
  border-radius: 5px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
  border-radius: 5px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 30px;
	height: 30px;
  border-radius: 5px;
	animation-delay: 3.5s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-1500px) rotate(360deg);

	}
}
