<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    
    </head>
    <body>
      <div class="navbar">
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    <div class="big">
        <div class="color-box">
            <h1>About PhraseSpace</h1>
            <p>PhraseSpace is the best article rewriter on the web. It changes words and phrases quickly, and what’s most important – accurately. The bottom line is, you should always choose the best. There are many paraphrasing tools that claim this, but in most cases they are either completely innacurate, not work at all or are full of annoying bugs. Not to mention, that most of this websites containing article rewiter tools are using the same useless paraphrasing engine, that can only get you in to trouble, because of creating plagiarised content. Some of them claims, they're using some "advanced AI" with an intelligent thesaurus, when in reality they use the same database like others, written by human. Whether it's search engine optimization (SEO), writer's block, need of new synonyms, or office emails, PhraseSpace has got your back. So always think twice, before you trust some outdated software, and take a look at PhraseSpace, you won't be disappointed! 

            No matter who you are or what you do, PhraseSpace has writing and research tools to support you in making your work come alive. Authors, students, researchers, journalists, attorneys, and everyone in between have employed the paraphraser to reword writing for school essays, professional correspondence, creative storytelling, and personal projects. Writing with confidence will change the way you interact with the world, and PhraseSpace is ready to help you elevate your skills. If you’re looking to paraphrase online, there’s only one place to go, and you’re already here.


            </p>
        </div>
        <div class="color-box">
            <h1>Meet the team</h1>
            <p>PhraseSpace was created by highschool seniors from Dallas, Texas. Sarvesh Karunakaran and Hasith Vattikutti developed an efficient algorithm using natural language processing (NLP) to rewrite all type of sentences. They hope to share their algorithm to help many people with their writing, through the PhraseSpace website.</p>
        </div>
      </div>
        <center>
        <div class="animation-area">
          <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>     
    </div> 
    </center>
    </body>
    </html>