<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
    <span class="dot"></span>
    <span class="dot1"></span>
    <h1>Put your text in ✨disguise✨</h1>
    <div id="parent">
        <form method="POST" id="text_form">
            <input type="text" class="css-input1" id="user-text" name="user-input">
            <input type="text" class="css-input2" id="rephrased" value={{output}}>
            <div style="margin-right: 682px; margin-top: 7px;">
              <input type="submit" class="myButton" value="Rephrase">
            </div>
        </form>
    </div>

</body>
</html>